[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cutadapt = "*"
accessories = {git = "https://github.com/gatfieldlab/pypackages", editable = true, subdirectory = "accessories"}

[dev-packages]
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.4"
